$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$app-color-primary: #1C8EB7;
$color-dark: #2E2E2E;
$color-dark-grey: #6C6C6C;
$color-light-grey: #B4B4B4;
$color-lighter-grey: #FAFAFA;

$color-danger: red;
$color-info: #6EB2FB;
$color-warning: #F1AD3D;
$color-success: #00D3CA;
$color-yellow: #EFFD90;
// $app-color-primary: #1c96d6;
// $app-color-primary: #47b804;

